# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep = "\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [ ]:
turnFloat = lambda x : float(x[1:-1])
chipo.item_price = chipo.item_price.apply(turnFloat)
chipo.item_price.head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [ ]:
(chipo.item_price.unique() > 10).sum()

35

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
(chipo.groupby("item_name")[["item_price"]].sum())/chipo["item_name"].nunique()

                                       item_price
item_name
6 Pack Soft Drink                          7.1390
Barbacoa Bowl                             13.4472
Barbacoa Burrito                          17.8950
Barbacoa Crispy Tacos                      2.4042
Barbacoa Salad Bowl                        2.1280
Barbacoa Soft Tacos                        5.0092
Bottled Water                              6.0512
Bowl                                       0.5920
Burrito                                    0.8880
Canned Soda                                2.7468
Canned Soft Drink                          8.7750
Carnitas Bowl                             14.7342
Carnitas Burrito                          11.9566
Carnitas Crispy Tacos                      1.5592
Carnitas Salad                             0.1798
Carnitas Salad Bowl                        1.3268
Carnitas Soft Tacos                        7.5188
Chicken Bowl                             146.8546
Chicken Burrito                          111.5164
Chicken Crispy Tacos                       9.4426
Chicken Salad                              1.6218
Chicken Salad Bowl                        24.5750
Chicken Soft Tacos                        22.1618
Chips                                      9.8868
Chips and Fresh Tomato Salsa               7.2272
Chips and Guacamole                       44.0208
Chips and Mild Fresh Tomato Salsa          0.0600
Chips and Roasted Chili Corn Salsa         1.3570
Chips and Roasted Chili-Corn Salsa         0.8604
Chips and Tomatillo Green Chili Salsa      2.6550
Chips and Tomatillo Red Chili Salsa        2.9500
Chips and Tomatillo-Green Chili Salsa      1.5774
Chips and Tomatillo-Red Chili Salsa        1.1950
Crispy Tacos                               0.2960
Izze                                       1.3560
Nantucket Nectar                           1.9662
Salad                                      0.2960
Side of Chips                              3.7180
Steak Bowl                                45.2038
Steak Burrito                             77.0286
Steak Crispy Tacos                         7.1468
Steak Salad                                0.7132
Steak Salad Bowl                           6.8718
Steak Soft Tacos                          10.7210
Veggie Bowl                               17.3598
Veggie Burrito                            18.6954
Veggie Crispy Tacos                        0.1698
Veggie Salad                               1.0188
Veggie Salad Bowl                          3.6500
Veggie Soft Tacos                          1.4792

### Step 6. Sort by the name of the item

In [ ]:
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
chipo.sort_values("item_price", ascending = False)["quantity"].head(1)

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
(chipo.item_name == "Veggie Salad Bowl").sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
((chipo.item_name == "Canned Soda") & (chipo.quantity > 1)).sum()

20